@model IEnumerable<RestAPICosmos.Models.Person>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" style="width:100%">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fornavn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mellemnavn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Efternavn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresse.Vejnavn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresse.Husnummer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresse.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresse.Postnummer.ByNavn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresse.Postnummer.Postnummer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nummer.Nummer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nummer.Type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fornavn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mellemnavn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Efternavn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adresse.Vejnavn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adresse.Husnummer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adresse.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adresse.Postnummer.ByNavn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adresse.Postnummer.Postnummer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nummer.Nummer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nummer.Type)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PersonId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PersonId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PersonId })
        </td>
    </tr>
}

</table>
